In [3]:
# Big O Notation -> O()
# Time Complexity - Space Complexity
# https://www.bigocheatsheet.com/

In [4]:
def bigon(n):
  for i in range(0, n):
    print(i)

In [5]:
bigon(5)

0
1
2
3
4

In [6]:
def bigon2(n):
  for i in range(0, n):
    for j in range(0, n):
      print(i, j)

In [7]:
bigon2(5)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [8]:
import math
math.floor(5/2)

2

In [9]:
def logn(n):
  while n > 1:
    n = math.floor(n/2)
    print(n)

In [10]:
logn(32)

16
8
4
2
1

In [11]:
def nlogn(n):
  lim = n
  while n > 1:
    n = math.floor(n/2)
    for i in range(1, lim):
      print(i)

In [12]:
nlogn(16)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [13]:
def nfactorial(n):
  if n == 0:
    print("1")
    return
  else:
    for i in range(0, n):
      print(i)
      nfactorial(n-1) #recursive

In [14]:
nfactorial(3)

0
0
0
1
1
0
1
1
0
0
1
1
0
1
2
0
0
1
1
0
1

In [17]:
# O(n)

counter = 0
def actualFactorial(n):
  global counter
  counter += 1
  print(counter)
  if (n == 1 or n == 0):
    return 1
  else:
    return (n * actualFactorial(n-1))

In [18]:
actualFactorial(5)

1
2
3
4
5

120